.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/BGVSystem-Frontend.slnx/FileContentIndex/af289e0a-58a1-4cbc-a471-c7b6fb9f0861.vsidx
.vs/BGVSystem-Frontend.slnx/v18/.wsuo
.vs/BGVSystem-Frontend.slnx/v18/DocumentLayout.json
